.entries {
    width: 80%;
    height: 100%;
    background: green;
    position: absolute;
    margin: 2% 10% 0% 10%;
    padding: 10px 10px 10px 10px;
}
.entry {
    padding: 0% 2% 0% 2%;
    width: 96%;
    position: relative;
    z-index: 1;
}
.entry-title {
    display: block;
    width: 99%;
}
.entry-body {
    width: 98%;
    margin-left: 1%;
    display: block;
    height: 100%;
    font-size: 11px;
}
.entry-common {
    border: 0px;
    position: relative;
    padding: 1px;
    font-family: Verdana;
    background-color: #E6E6E6;
}
.entry-subheader-common {
    width: 98%;
    margin-left: 1%;
    display: block;
}
.entry-common:focus {
    color: black;
    border: solid 1px red;
    padding: 0px;
}
.cover {
    position: absolute;
    z-index: 2;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: white;
    opacity: .95;
    vertical-align: middle;
    text-align: center;
}
.throbber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new {
    opacity: .89;
}



